*{
	margin: 0;
	padding: 0;
}

html, body {
    background: #FFFFFF;
    color: #49494d;
    font-size: 14px;
}
body,
html {
	height: 100%;
	overflow: hidden;
	position: relative;
}


.fire1,.fire2,.fire3{
	transform: scale(0);
	position: absolute;
}
.fire1 div,.fire2 div,.fire3 div{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	right: 0;	
}
.fire1 div span,.fire2 div span,.fire3 div span,.fire4 div span,.fire5 div span{
	position: absolute;
	top: 50%;
	left: 50%;		
}
.fire1 div span span,.fire2 div span span,.fire3 div span span,.fire4 div span,.fire5 div span {
	display: block;
	background-image: url(../img/yhbg.png);
	background-repeat: no-repeat;
}


.fire1 div span .yh1{
	width: 15px;
	height: 21px;	
	background-position: -2px -2px;	
}
.fire1 div span .yh2{
	width: 15px;
	height: 21px;	
	background-position: -21px -2px;	
}
.fire1 div span .yh3{
	width: 15px;
	height: 21px;	
	background-position: -40px -2px;	
}


.fire2 div span .yh1{
	width: 4px;
	height: 22px;	
	background-position: -62px -5px;	
}
.fire2 div span .yh2{
	width: 5px;
	height: 25px;	
	background-position: -70px -5px;	
}
.fire2 div span .yh3{
	width: 5px;
	height: 25px;	
	background-position: -79px -5px;	
}


.fire3 div span .yh1{
	width: 9px;
	height: 27px;	
	background-position: -88px -5px;	
}
.fire3 div span .yh2{
	width: 9px;
	height: 20px;	
	background-position: -101px -5px;	
}
.fire3 div span .yh3{
	width: 4px;
	height: 23px;	
	background-position: -114px -5px;	
}



.fire4 div span .yh1{
	width: 15px;
	height: 19px;	
	background-position: -127px -6px;	
}
.fire4 div span .yh2{
	width: 15px;
	height: 19px;	
	background-position: -144px 6px;	
}
.fire4 div span .yh3{
	width: 15px;
	height: 19px;	
	background-position: -161px 0px;	
}




.fire5 div span .yh1{
	width: 5px;
	height: 25px;	
	background-position: -183px -7px;	
}
.fire5 div span .yh2{
	width: 5px;
	height: 25px;	
	background-position: -192px -6px;	
}
.fire5 div span .yh3{
	width: 6px;
	height: 30px;	
	background-position: -201px -6px;	
}